.Rproj.user
.Rhistory
.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll
.Rproj.user/3A27947B/cpp-compilation-config
.Rproj.user/3A27947B/cpp-compilation-config
.Rproj.user/3A27947B/sources/prop/4D214BF3
.Rproj.user/3A27947B/cpp-compilation-config
